<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$author</title>
    <link rel="shortcut icon" href="$icon">
    <link rel=icon type="image/ico" href="$icon">
    <link rel=stylesheet href="assets/css/main.css" type="text/css" media=screen>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="$author">
    <meta name="description" content="$site_description">
    <meta name="keywords" content="$tags">
    <meta property="og:site_name" content="$author">
    <meta property="og:type" content="website">
    <meta property="og:title" content="$author">
    <meta property="og:description" content="$site_description">
    <meta property="og:image" content="$image">
    <meta property="og:image:secure_url" content="$image">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="$image">
    $google
  </head>
  <body>
    <header>
        <a class="home-button" href="#" style="text-decoration: none;">$header</a>
        <a class="resume-button" href="$resume" target="_blank">Résumé</a>
    </header>
    <div class="header-bar"></div>

    <main class="content">
      <div class="terminal-windows">
        <div class="intro-box">
          <div class="whoami">
            <p><span class="prompt">$prompt</span> whoami</p>
            <p class="name">$name<span class="blinking-cursor"></span></p>
            <p class="title">$title</p>
            $sys_info
          </div>
          <div class="links">
            <div class="links-border">
              <span>ls ~/links</span>
              <span>PID: $pid</span>
            </div>
            <div class="links-body">
              <ul class="links-list">
                $links
              </ul>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="desc-border">
            <span>description.txt</span>
            <span>[READ ONLY]</span>
          </div>
          <div class="desc-body">
            <p>$description</p>
          </div>
        </div>
      </div>
      <div class="hero">
      <div class="hero-image">
        <div class="image-container">
          <img src="$image" alt="$alt">
        </div>
      </div>
      </div>
    </main>

    <div class="footer-bar"></div>

    <footer>
      $footer
    </footer>

  </body>
</html>
