<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$author</title>
    <link rel="shortcut icon" href="assets/images/skull.ico">
    <link rel=icon type="image/ico" href="assets/images/skull.ico">
    <link rel=stylesheet href="assets/css/main.css" type="text/css" media=screen>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="$author">
    <meta name="description" content="$description">
    <meta name="keywords" content="$tags">
    <meta property="og:site_name" content="$author">
    <meta property="og:type" content="website">
    <meta property="og:title" content="$author">
    <meta property="og:description" content="$description">
    <meta property="og:image" content="$image">
    <meta property="og:image:secure_url" content="$image">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="$image">
    <meta property="twitter:site" content="@NecromancerTux">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1HMXV18Z9V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1HMXV18Z9V');
    </script>

  </head>
  <body>
    <div class="header">
      <p>$header</p>
    </div>
    <div class="logo">
      <img src="$image" alt="$alt">
    </div>
    <div class="linktree">
      $body
    </div>

    <div class="footer">
      <p>$college</p>
      <p>$copyright</p>
    </div>
  </body>
</html>
