body {
  background-color: black;
  color: chartreuse;
}

mark {
  background-color: dimgrey;
  color: chartreuse;
}

.footer {
  background-color: dimgrey;
  bottom: 0;
  color: Chartreuse;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
