body {
    background-color: black;
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: 15%;
    margin-right: 5%;
    color: #ff00fb;
    font-family: Sans-serif;
}

.logo {
    position: absolute;
    font-size: 1em;
    text-align: center;
    font-family: inherit;
    border: none;
}

.logo img {
    margin-left: inherit;
    width: 85%;
    height: auto;
}

.linktree {
    display: inline-table;
    margin-left: 60%;
    font-size: 2em;
    text-align: center;
    font-family: inherit;
    border: none;
}

a {	
    color: inherit;
    font-family: inherit;
}

a:visited {
    color: turquoise;
    font-family: inherit;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1em;
    text-align: center;
    font-family: inherit;
    border: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    text-align: center;
    background-color: black;
    border: none;
}
