<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$author</title>
    <link rel="shortcut icon" href="$icon">
    <link rel=icon type="image/ico" href="$icon">
    <link rel=stylesheet href="assets/css/main.css" type="text/css" media=screen>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="author" content="$author">
    <meta name="description" content="$description">
    <meta name="keywords" content="$tags">
    <meta property="og:site_name" content="$author">
    <meta property="og:type" content="website">
    <meta property="og:title" content="$author">
    <meta property="og:description" content="$description">
    <meta property="og:image" content="$image">
    <meta property="og:image:secure_url" content="$image">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="$image">
    <meta property="twitter:site" content="@$twitter">
    $google
  </head>
  <body>
    <div class="header">
      $header
    </div>
    <div class="logo">
      <img src="$image" alt="$alt">
    </div>
    <div class="linktree">
      $body
    </div>
    <div class="footer">
      $college
    </div>
  </body>
</html>
